.frame_eng{
    margin:10px;
    padding:10px;
    width:90%;
    height: auto;
    border-top:2px ,solid,black;
    border-radius: 5px;
    margin:auto;
    display:flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px rgb(35, 170, 194);
}

.content{
    width:80%;
    font-size:50px;
    margin:10px;
    padding:10px;
    border-radius: 5px;
    border-bottom: 2px solid rgba(0,0,0,0.5);
}
.words{
    width: 200px;
    height: 500px;
    border:1px solid rgba(0,0,0,0.2);
    font-size:25px;
    color:rgb(62, 129, 206);
    text-align: center;
    margin:10px;
    padding:10px;
    border-radius:5px;
    overflow-y: scroll;
    box-shadow:1px 10px 20px rgba(0,0,0,0.5);
}