
.note{
  display:flex;
}
.extend{
    border-radius: 5%;
    font-size: 1.5vmin;
    margin-left: 10%;
    border:outset;
    margin-bottom: 3px;
    padding: 2%;
}
.note>ul{
    width: 100%;
    height: 1000px;
    overflow-y: scroll;
}
.note_data{
    font-size:2vmax;
    border-bottom: solid 1px rgb(0,0,0);
    padding:4%;
    font-weight:lighter;
}
.note_data{
    list-style-type: armenian;
}
.note>ul>li>span>a{
    font-size:1vmax;
    position:absolute;
    right: 0px;
    text-decoration: none;
    color:rgb(165, 114, 114);
}
.label{
    padding-right: 20%;
    color: rgb(160, 116, 63);
}
.note_data>a{
    font-size:1vmax;
    position:absolute;
    right:10px;
    text-decoration: none;
    color:rgb(165, 114, 114);
    display:inline;
}
.note_data>span>input{
    position: absolute;
    right:10%;
}
