*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    /*font-size:20vmin ;*/
}
body{
    background-color:#FEFBF3;
    font-family: 'Nunito',sans-serif;
}
.home{
    display:flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-color: #79B4B7;
}
.home > h1{
    margin:50px;
    text-align: center;
    font-size: 5vmin;
    color: rgba(255, 255, 255, 1);
    padding:2%;
}
.home >a {
    width:300px;
    align-content: center;
    justify-content: center;
}
.home > a >img{
    margin:10px;
    width:80%;
    border-radius: 50%;
}
.container{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    font-size:6vh;
}
.card a:link{
    text-decoration: none;
}
.card a:hover{
    opacity: 0.7;
}
.card{

    align-content: center;
    margin: 50px;
    border-radius: 10px;

}
.card > a {
    display:block;
    width: 50vmin;
    color:rgb(58, 55, 54);
    font-size: 3vmax;
    margin:10px;
    padding:40px;
    text-align: center;
    border: 1px solid rgb(197, 207, 198);
    box-shadow: 0px 10px 20px 5px #79B4B7;
    border-radius:30px;
    background-color: #F8F0DF;
}
.card > div {
    display:block;
    width: 100%;
    color:rgb(82, 16, 16);
    font-size: 2vmax;
    margin:10px;
    padding:20px;
    text-align: center;
    border: 1px solid rgb(197, 207, 198);
    box-shadow: 0px 10px 20px 5px #79B4B7;
    border-radius:30px;
    background-color: #F8F0DF;
}
.form_contain{
    display: flex;
    flex-direction: row;
}
.form{
    padding:5px;
    margin-bottom: 20px;
    margin-top: 10px;
    color:rgb(255, 255, 255);
    width:100%;
    text-align: center;
    justify-content: center;
    background-color: #9D9D9D;
    font-size: 2vmax;
}
.Todo{
    color: rgb(255, 242, 182);
    background-color: rgb(14, 99, 110);
    width:100%;
    text-align:center;
    font-size:3vmax;
    font-weight: bolder;
}

label{
    color:rgb(23, 72, 92);
    font-size:1.5vmax;
    font-weight: 50;
}

input[type="checkbox"]{
    width: 24px;
    height: 24px;
    position: absolute;
    right:10vw;
}
input[type="checkbox"]:checked{
    background: blue;
    color:blue;
}
.Tasks>li>span{
    position: absolute;
    right:50px;
    margin-right:20px ;
}
.Tasks>li{
    list-style-type:armenian;
    width: 100%;
    padding-left: 5vh;
    border-bottom: solid 1px rgb(197, 207, 198);
}
.Review{
    list-style-type:armenian;
    width: 100%;
    padding-left: 5vh;
    border-bottom: solid 1px rgb(197, 207, 198);
    font-size:1.75vmax;
    background-color: rgba(23, 72, 92, 0.301);
}
input[type="submit"]{
    background-color: rgba(215, 244, 255, 0.938);
    color:rgb(90, 138, 170);
    font-family: 'Nunito',sans-serif;
    border:none;
    padding: 5px 5px;
    text-align: center;
    border-radius: 15%;
    margin-top:10px;
}
.delete_task{
    text-decoration: none;
    display: inline;
    position: absolute;
    right:10px;
    font-size: 1.5vh;
    color:black;

}
#Logout{
    margin-top: 20px;
    font-size: 2vh;
    font-weight: bolder;
    position: absolute;
    right: 0px;
}
table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
  }
  
   th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: rgb(164, 200, 200);
  }
  td {
    border: 1px solid #dddddd;
  }
  .Status{
      color:rgb(155, 123, 83);
      position: sticky;
      position: -webkit-sticky;
      bottom:0;
      background-color: rgb(248, 240, 223,0.5);
      box-shadow: 0px 10px 20px 5px #b79579;
      width: 18%;
      border-radius: 5px;
      padding: 0.5%;
      font-size: 1vmax;
  }
@media screen and (max-width:600px){
    .container{
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        font-size:4vh;
    }
}

