<!DOCTYPE html>
<html>
<head>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/style_english.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Oswald&display=swap">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

</head>
<body>
    <div class="home">
        <a href="{% url 'polls:index'%}"><img src="{%static 'image/1.png'%}"></a>
        <h1>Automatic Speed Effective</h1>
     </div>

     <div class="form_contain">
     <div class="form">
         <form action="" id="form_search">
            <label>Search</label>
            <input type="text" id="search_word" name="search_word" >
            <input type="submit" name="submit_search "value="Enter" style="color:white;background-color: rgba(72, 142, 144, 0.596);font-family: 'Nunito',sans-serif;border-radius: 20%;padding: 0.5%;">
        </form>
     </div>
     <div class="form">
        <form action="" method="POST" >
           <label for="new_word">New </label>
           {%csrf_token%}
	   		{{form}}
           <input type="submit" value="Enter" name="submit_newword" style="color:white;background-color: rgba(72, 142, 144, 0.596);font-family: 'Nunito',sans-serif;border-radius: 20%;padding: 0.5%;">
       </form>
    </div>
     </div>
	 {% include 'messages.html' %}
     <div class="frame_eng">
         <div class="content">
			<ul>
				<li><a href="" class="link_word" id="GD" target="_blank">Google</a> </li>
				<li><a href="" class="link_word" id="CD" target="_blank">Cambridge </a></li>
				<li><a href="" class="link_word" id="OD" target="_blank">Oxford </a></li>
			</ul>
			<form  id="form_mean">
				{{form_mean}}
				<input type="submit" name="submit_mean" value="ENTER" id="submit_mean" >
			</form>
			<p id="word"></p>
			<div id="mean"><strong>Mean: </strong><span></span></div>
			<div id="example"><strong>Example: </strong><span></span></div>    
			<div id="type"><strong>Type: </strong><span></span></div>                                                                                                                                            
         </div>

         <div class="words">
            <ul>
		{%for word in words%}
		  <li>
			  {% if word.meaning  %}
			  <button class="button_word" id="{{word.id}}" >{{word}}</button>
			  {%else %}
			  <button class="button_word" id="{{word.id}}" style="background-color: rgb(233, 138, 109);" >{{word}}</button>
			  {%endif%}
			  <a class="delete_word" href="{%url 'polls:delete-word' word.id%}" >x<a>
			</li>
		{%endfor%}
	    </ul>
         </div>
     </div>
	 <div class="frame_eng">
		 <div class="quiz">
			<ul>
			 {%for question in questions %}
				<li class="quiz_ques" id="word{{question.id}}" data-id="{{question.id}}">
					{{question.meaning}} <span style="display:none" >  {{question.word}}</span>
				</li>
			{%endfor%}
			</ul>
		 </div>
	 </div>
	<div class="info">
		Word translated: {{lenght}}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	{%block javascript%}
	<script>
	$(document).ready(function(){
		$(".button_word").click(function(){
			var word=$(this).html()
			$("#word").text(word)
			$("#GD").attr("href","https://translate.google.com/?hl=vi&sl=auto&tl=vi&text="+$('#word').text()+"&op=translate");
			$("#CD").attr("href","https://dictionary.cambridge.org/dictionary/english-vietnamese/"+$('#word').text());
			$("#OD").attr("href","https://oxfordlearnersdictionaries.com/definition/english/"+$('#word').text());
			$.ajax({
				type:'GET',
				url:"{%url 'polls:show_mean'%}",
				data:{"word":word},
				success :function(response){
					$("#mean").find("span").html(response["mean"]);
					$("#example").find("span").html(response["example"]);
					$("#type").find("span").html(response["type"]);
				},
				error:function(response){
					alert("Something wrong "+response.responseJSON.error)
				}
			});
			});
		$(".quiz_ques").click(function(){
			var id=$(this).attr("data-id");
			$("#word"+id).children("span").attr("style","display:absolute;color:pink")
		});
		$("#form_search").submit(function(e){
			e.preventDefault();
			var serData=$(this).serialize();
			$.get("{%url 'polls:search_word'%}",serData)
			.done(function(response){
				$("#word").text(response["word"])
				$("#mean").find("span").html(response["mean"]);
				$("#example").find("span").html(response["example"]);
				$("#type").find("span").html(response["type"]);
				$("#GD").attr("href","https://translate.google.com/?hl=vi&sl=auto&tl=vi&text="+$('#word').text()+"&op=translate");
				$("#CD").attr("href","https://dictionary.cambridge.org/dictionary/english-vietnamese/"+$('#word').text());
				$("#OD").attr("href","https://oxfordlearnersdictionaries.com/definition/english/"+$('#word').text());
			alert(response["mes"]);
			})
			.fail(function(response){
				alert("Not found")
			})
			;
		});
		$("#form_mean").submit(function(e){
			e.preventDefault();
			var serializedData=$("#form_mean").serialize();
			var id=$("#word").text();
			var submit=$("#submit_mean").serialize();
			var total=serializedData+submit;
			$.ajax({
				type:'POST',
				url:"{%url 'polls:update_mean' %}",
				data:total+'&csrfmiddlewaretoken={{csrf_token}}'+'&word='+id+'&submit_mean=ENTER',
				success:function(response){
					alert("Success")
					$("#mean").html("Meaning: "+response["mean"]);
					$("#example").html("English: "+response["example"]);
					$("#type").html("Type:"+response["type"]);
					},	
				error:function(response){
					alert("Not success");
					console.log(response);
					}
					});
				});	
			});		
	</script>
	{%endblock javascript%}
</body>
</html>
