
{%load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Oswald&display=swap>">
</head>
<body>
 <div class="home">
	<a href="{%url 'polls:index'%}"><img src="{%static 'image/1.png'%}"></a>
	<h1>Automatic Speed Effective</h1>	
 </div>
 <div class="container">
	<div class="card">
		<a href="{% url 'polls:english'%}" target="_self">English </a>
	</div>
	<div class="card">
		<a href="{% url 'polls:plan'%}" target="_self">Plan </a>
	</div>	
	<div class="card">
		<a href="{% url 'polls:note'%}" target="_self">Note </a>
	</div>
	<div class="card">
		<a href="{% url 'polls:challenge'%}" target="_self">Challenge </a>
	</div>
	
 </div>

 
 <div class="">
	 <div class="Todo">Daily do</div>
	<form action="{%url 'polls:check_done'%}" method="GET">
	<ul class="Tasks">
	{%for do in todo %}
	{%if do.Check_done is True %}
		<li><label for="{{do.Task_todo}}">{{do.Task_todo}} <span style="font-size:2vh;">{{do.Time_todo}}(h)</span></label><span ><input class="input_box" type="checkbox"  checked name="{{do.Task_todo}}"></span><a class="delete_task" href="{%url 'polls:delete_task' do.id%}" >Delete</a></li>
		{%else%}
		<li><label for="{{do.Task_todo}}">{{do.Task_todo}} <span style="font-size:2vh;">{{do.Time_todo}}(h)</span></label><span ><input class="input_box" type="checkbox"  name="{{do.Task_todo}}"></span><a class="delete_task" href="{%url 'polls:delete_task' do.id %}" >Delete</a></li>
	{%endif%}
	{%endfor%}
	</ul>
	<input type="submit" value="Submit" ><span>  Total hours:{{count_today}} </span>
	</form>
</div>

	<form action="" method="POST" class="form">
		<label for="new_word">New </label>
		{%csrf_token%}
		{{form}}
		<input type="radio" value="Today" name="daydo" id="td">
		<label for="td">Today</label>
		<input type="radio" value="Tommoror" name="daydo" id="tm">
		<label for="tm">Tommoror</label>
		<input type="submit" value="Enter"  >
	</form>	

<div class="">
	<div class="Todo">Next day</div>
	{%for do in tomr_do %}
	<ul class="Tasks">
		<li><label>{{do.Task_todo}}</label><a class="delete_task" href="{%url 'polls:delete_task' do.id %}" >Delete</a></li>
	</ul>
	{%endfor%}
	<span>Total hours:{{count_tommor}} </span>
</div>
<div>
	{%for task in re_task%}
	
	<table>
		<tr>
			<th>Task - {{task.day}}</th>
			<th>Status</th>
		</tr>
		{%for intask in task.tasks%}
		{%if intask.Check_done == True%}
		<tr style="background-color: rgb(251, 251, 251);">
			<td>{{intask.Task_todo}}-({{intask.Time_todo}})</td>
			<td>{{intask.Check_done}}</td>
		</tr>
		{%else%}
		<tr style="background-color: rgb(194, 154, 154);">
			<td>{{intask.Task_todo}}-({{intask.Time_todo}})</td>
			<td>{{intask.Check_done}}</td>
		</tr>
		{%endif%}
		{%endfor%}
	</table>
	{%endfor%}
</div>
<div class="Status">
	<div>You have {{status.st_note}}/5 note(s) today</div>
	<div>You have {{status.st_challenge}} challenge(s) not done </div>
	<div>You have {{status.st_plan}} plan(s) in urgent</div>
</div>
<a href="{%url 'polls:logout' %}" id="Logout">Log Out</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	{%block javascript%}
<script>
	$(document).ready(function(){
		
	})
</script>
	{%endblock javascript%}
</body>
</html>